@{
    ViewData["Title"] = "Access Denied";
}

<header style="min-height:80vh; display: flex; flex-direction: column; justify-content: center; text-align: center; align-items: center;">
    <span class="material-symbols-outlined" style="font-size:130px; color:#c32a00;">dangerous</span>
    <h1 class="text-danger mt-3 m-lg-4" style="font-size:80px;">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have permission to access this resource.</p>
    <p>
        Please contact your administrator if you believe you should have access.
    </p>
    <a asp-action="Index" asp-controller="Home" class="ColorBtn">Go to Homepage</a>
</header>