@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+NKo+Unjoined:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .register-form-icon {
        display: flex;
        font-size: 45px;
        font-weight: 700;
        color: #2f5d50;
        justify-content: center;
        align-items: center;
    }

    .register-form h2 {
        text-align: center;
        font-size: 35px;
        font-weight: 600;
        font-family: 'Kanit', sans-serif;
        margin: 0;
    }

.fullname-label {
    font-size: 14px;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
}

.fullname-input {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.email-label {
    font-size: 14px;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
}

.email-input {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.phone-label {
    font-size: 14px;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
}

.phone-input {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.password-label {
    font-size: 14px;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
}

.password-input {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-submit-button {
    width: 423px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #2f5d50;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
}

/* Media Queries */
/* Mobile devices */
@media screen and (max-width: 480px) {
    .register-form {
        width: 95%;
        margin-top: 40px;
    }

        .register-form span {
            font-size: 32px;
        }

        .register-form h2 {
            font-size: 28px;
        }

    .fullname-input,
    .email-input,
    .phone-input,
    .password-input {
        width: 280px;
    }

    .register-submit-button {
        width: 303px;
    }
}

/* Tablet devices */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .register-form {
        width: 90%;
    }

    .fullname-input,
    .email-input,
    .phone-input,
    .password-input {
        width: 350px;
    }

    .register-submit-button {
        width: 373px;
    }
}

/* Desktop devices */
@media screen and (min-width: 769px) {
    .register-form {
        width: 90%;
    }
}
